{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <a href="{% url 'profiles:upload' %}">Upload Profile</a>
    {% if favourite_review_id %}
       | <a href="{% url 'detail' favourite_review_id %}">Go to Favourite Review</a>
    {% endif %}
    <div class="section-header">
      <h1>Review</h1>
      <a href="{% url 'review-list' %}" class="btn btn-secondary">All Reviews</a>
    </div>
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-control{% if field.errors %} errors{% endif %}">{{ field.label_tag }}
          {{ field }}
          {{ field.errors }}</div>
      {% endfor %}
      <button class="btn">Send</button>
    </form>
  </div>
{% endblock %}
