{% extends 'base.html' %}

{% block content %}
  <div class="card">
    <div class="section-header">
      <h1>Review</h1>
      <a href="{% url "review-list" %}" class="btn btn-secondary">All Reviews</a>
    </div>
    <form method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-control{% if field.errors %} errors{% endif %}">{{ field.label_tag }}
          {{ field }}
          {{ field.errors }}</div>
      {% endfor %}
      <button class="btn">Send</button>
    </form>
  </div>
{% endblock %}
